.listItem{
  width:60%;
  height:50px;
  margin:0 auto;
  border: solid #e2e2e2 1px;
  display:flex;
  flex-direction: row;
  align-content: center;
}
.listItem span {
  float:left;
  padding:15px;
}

.listItem p {
  width:90%;
  align-content: center;
}
.close{
  float:right;
}  
.done {
    width:100%;
    color: #f35b5b;
    text-decoration: line-through;
    background-color: #f5caca;
}
  
.notdone {
  width:100%;
    color: rgb(74, 160, 57);
    background-color: #d1fdcd;
}

